SPRING_PROFILES_ACTIVE=local

AWS_REGION=your_aws_region

AWS_ACCESS_KEY=your_access_key
AWS_SECRET_KEY=your_secret_key

# This bucket is a private bucket
AWS_S3_BUCKET_V1=your_s3_bucket_name_v1

# This bucket is a public bucket, but we will enforce the ACL to private in our code
AWS_S3_BUCKET_V1=your_s3_bucket_name_v2

# This bucket will be a private bucket, but we will only use our code and presigned URLs to access it, so we will not enforce the ACL in our code
AWS_S3_BUCKET_V3=your_s3_bucket_name_v3

AWS_DYNAMODB_TABLE=your_dynamodb_table_name


# this is for enabling or disabling Redis replication, set this to or 0
REDIS_REPLICAS=1